<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mentor Education Bootstrap Theme</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" type="text/css" href="~/CSS/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="~/CSS/style.css">

    <!-- =======================================================
        Theme Name: Mentor
        Theme URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
        Author: BootstrapMade.com
        Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>
<body>

    @RenderBody()
    <script src="~/CSS/jquery.min.js"></script>
    <script src="~/CSS/jquery.easing.min.js"></script>
    <script src="~/CSS/bootstrap.min.js"></script>
    <script src="~/CSS/custom.js"></script>
</body>
</html>
